# API
API_PORT=8080
SPRING_PROFILES_ACTIVE=default

# RabbitMQ
SPRING_RABBITMQ_HOST=
SPRING_RABBITMQ_PORT=
SPRING_RABBITMQ_USERNAME=
SPRING_RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

# Mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# CRM
CRM_PROVIDER=PLOOMES
CRM_PLOOMES_NAME=ploomes
CRM_PLOOMES_URL=https://public-api2.ploomes.com
CRM_PLOOMES_TOKEN=